<style>
  .header-wrapper {
    transition: all 0.5s ease;
    background-color: transparent;
  }
  .header{
    
    background-color: transparent;
  }
  .shopify-section-header-sticky .header-wrapper{
    background-color: rgb(var(--color-background));
  }
</style>
<div class=" bg-base-background-2 text-opacity-100 mt-[-86px]">
  {% render 'main-product-xs' %}
</div>

{%- render 'cart-notification' -%}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
  <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
    <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

    <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
      {%- for media in product.media -%}
        {%- if media.media_type == 'image' -%}
          <img
            srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
                    {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
                    {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
                    {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
                    {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}"
            sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
            src="{{ media.preview_image | img_url: '750x' }}"
            alt="{{ media.alt | escape }}"
            loading="lazy"
            width="1100"
            height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
            data-media-id="{{ media.id }}"
          >
        {%- else -%}
          {%- if media.media_type == 'model' -%}
            <div class="product-media-modal__model" data-media-id="{{ media.id }}">
              <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
          {%- else -%}
            <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
          {%- endif -%}

            <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
              <span class="deferred-media__poster-button motion-reduce">
                {%- if media.media_type == 'model' -%}
                  {%- render 'icon-3d-model' -%}
                {%- else -%}
                  {%- render 'icon-play' -%}
                {%- endif -%}
              </span>
              <img
                srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                        {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                        {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                        {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                src="{{ media | img_url: '550x550' }}"
                sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                loading="lazy"
                width="576"
                height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                alt="{{ media.preview_image.alt | escape }}"
              >
            </button>
            <template>
              {%- case media.media_type -%}
              {%- when 'external_video' -%}
                {%- assign video_class = 'js-' | append: media.host -%}
                {%- if media.host == 'youtube' -%}
                  {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
                {%- else -%}
                  {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping | external_video_tag: class: video_class, loading: "lazy" }}
                {%- endif -%}
              {%- when 'video' -%}
                {{ media | media_tag: image_size: "2048x", autoplay: true, loop: section.settings.enable_video_looping, controls: true, preload: "none", autoplay: true }}
              {%- when 'model' -%}
                {{ media | media_tag: image_size: "2048x", toggleable: true }}
              {%- endcase -%}
            </template>

          {%- if media.media_type == 'model' -%}
              </product-model>
              <button
                class="button button--full-width product__xr-button"
                type="button"
                aria-label="{{ 'products.product.xr_button_label' | t }}"
                data-shopify-xr
                data-shopify-model3d-id="{{ media.id }}"
                data-shopify-title="title"
                data-shopify-xr-hidden
                >
                {% render 'icon-3d-model' %}
                {{ 'products.product.xr_button' | t }}
              </button>
            </div>
          {%- else -%}
            </deferred-media>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</product-modal>

{% assign popups = section.blocks | where: "type", "popup" %}
{%- for block in popups -%}
  <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
    <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <div class="product-popup-modal__content-info">
        <h1 class="h2">{{ block.settings.page.title }}</h1>
        {{ block.settings.page.content }}
      </div>
    </div>
  </modal-dialog>
{%- endfor -%}
{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "spaced-section--transparent",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
